.modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 500;

  .container {
    position: absolute;
    background: #fff;
    min-width: 300px;
    min-height: 200px;
    padding: 20px;
    border-radius: 4px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .header {
      position: relative;
      h3 {
        margin: 0;
        padding: 0;
        text-align: center;
      }
      i {
        position: absolute;
        padding: 5px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        cursor: pointer;
      }
    }
    .main {
      display: flex;
      flex: 1;
      margin: 10px 0;
      flex-direction: column;
    }
    .footer {
      margin-top: 10px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      button {
        margin: 5px;
      }
    }
  }
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

:global {
  .react-timekeeper {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(355px, 326px, 0px);
  }

  .date-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;

    .date {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .week {
      margin: 0 5px;
    }
  }

  .time-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin: 10px 0;

    .react-timekeeper {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    button {
      background: none;
      border: 2px solid #0000ff;
      outline: none;
      margin: 0;
      padding: 5px 10px;
      margin-left: 5px;
      width: 100%;
      font-size: 18px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
