body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #f6f6f6;

  * {
    font-family: "Noto Sans TC", "Roboto", sans-serif;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .backhome {
    width: 100%;

    button {
      border: none !important;
      background: none !important;
      color: #000 !important;
    }
  }

  .student_info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 90%;

    p {
      width: 100%;

      strong::after {
        content: " : ";
      }
    }
  }

  .result-time {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    text-align: center;

    strong {
      font-size: 1.8rem;
      margin: 0 10px;
    }

    span {
      font-size: 2.2rem;
      margin: 0 10px;
    }

    button {
      margin: 10px 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    flex: 1;

    input,
    select,
    textarea {
      display: block;
      outline: none;
      background: rgba(0, 0, 0, 0);
      border: 1px solid #888;
      border-radius: 4px;
      width: calc(100% - 10px);
      margin: 0 auto;
      padding: 8px 4px;
      font-size: 18px;
      font-family: "微軟正黑體", "noto sans tc", sans-serif;
      transition: 0.2s;
      resize: none;

      &:focus {
        border-color: dodgerblue;
        box-shadow: 0 0 4px dodgerblue;
        background: #fff;
      }
    }

    select {
      width: 100%;
      margin: 5px 0;

      option {
        padding: 8px 4px;
      }
    }

    button {
      margin: 5px 0;
    }
  }

  button {
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    margin: 0 5px;
    padding: 4px 16px;
    border-radius: 4px;
    user-select: none;
    outline: none;
    cursor: pointer;

    &.attendance {
      border-radius: 999px;
      width: 180px;
      height: 180px;
      margin: 0 auto;
      padding: 0;
      border: 2px solid #000;
      background: dodgerblue;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      strong {
        font-size: 2rem;
      }

      span {
        font-size: 20px;
      }

      &:hover {
        background: darkblue;
      }
    }

    border: 1px solid dodgerblue;
    background: dodgerblue;
    color: #fff;

    &:hover {
      border-color: rgb(26, 118, 209);
      background: rgb(26, 118, 209);
    }

    &:global(.btn-cancel) {
      border: 1px solid #aaa !important;
      background: #fff !important;
      color: #000 !important;

      &:hover {
        background: #eee !important;
      }
    }
  }
}
:global {
  .font-red {
    color: red;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .font-green {
    color: #155724;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .alert-green {
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 4px;
  }
  .alert-red {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 4px;
  }
}
